<footer class="border-top border-dark border-2 bg-white mt-auto py-4">
    <div class="container">
        <div class="row align-items-center g-3">
            <div class="col-12 col-md-6 text-center text-md-start">
                <span class="text-uppercase small text-secondary">
                    © 2026 Software Engineering Student · Vasyl Stefanyk PNU
                </span>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end">
                <div class="d-inline-flex gap-3 small">
                    <a href="{{ url_for('resume') }}" class="link-dark link-underline-dark link-offset-2">Resume</a>
                    <span>/</span>
                    <a href="{{ url_for('contacts') }}" class="link-dark link-underline-dark link-offset-2">Contacts</a>
                    <span>/</span>
                    <a href="#" class="link-dark link-underline-dark link-offset-2">Back to top ↑</a>
                </div>
            </div>
        </div>
    </div>
</footer>
